* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: url("/images/bg.png") #ffa71a;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right bottom;
  cursor: url("/images/cursor.svg"), auto;
  font-size: 20px;
}

a, button {
  cursor: url("/images/cursor-pointer.svg"), pointer !important;
}

h1 {
  letter-spacing: 0.2rem;
}
